<h1>Bienvenido a Superhero Dashboard</h1>
<p>Esta es la página principal de nuestra app.</p>

<h2>En esta seccion puedes navergar y conocer nuestras opciones</h2>
<!-- Enlaces a las otras vistas -->
<!-- <a href="/heroes">Ver lista de superhéroes</a><br>
<a href="/about">Acerca de</a><br>
<a href="/contact">Contacto</a>
 -->